<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
</head>
<body>
    <h1>Payment Successful!</h1>
    <p>Thank you for your payment <b>{{ payment.user }}</b>. Your Payment for the urls has been successfully completed.</p>
    <p>Transaction ID: {{ payment.transaction_id }}</p>
    <p>Amount Paid: INR {{ payment.total_amount }}</p>
    <p>payment Status: {{ payment.status }}</p>
    <p>User: {{ payment.user }}</p>
</body>
</html>